section:not(.center) > p {
    text-align: justify;
}

li {
    text-align: justify;
}

#serverCreation {
    width: 90%;
    height: 400px
}

.reveal pre {
    margin: auto;
    box-shadow: none;
}

.reveal pre code {
    max-height: 300px;
}

.smaller > p{
    font-size: smaller;
}

.smaller > ul > li {
    font-size: smaller;
}

.smaller > ul > li > ul > li {
    font-size: smaller;
}

.x-large > p{
    font-size: x-large;
}

.x-large > ul > li {
    font-size: x-large;
}

.x-large > ul > li > ul > li {
    font-size: x-large;
}

#indexClient {
    width: auto;
    height: 200px
}

.reveal ul {
    display: block;
}

.reveal section img {
    margin-bottom: 0px;
}

figcaption {
    font-size: small;
}